<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="Northwind"
          providerName="System.Data.SqlClient"
          connectionString="Server=.\SQLEXPRESS;Database=Northwind;Integrated Security=True;"/>
  </connectionStrings>



</configuration>